
	<div class="main-area">

		<section class="left-section" style="background-image: url(assets/img/main_image.jpg)">


		</section><!-- left-section -->


		<section class="right-section full-height">

			<a class="logo" href="#"><img src="assets/img/logo.jpg" alt="Logo"></a>

			<div class="display-table">
				<div class="display-table-cell">
					<div class="main-content">
						<h1 class="title"><b>Sitio en construcción</b></h1>
						<p class="desc">Nuestro sitio se encuentra actualmente en mantenimiento. Volveremos pronto!
              <br>Gracias por la paciencia, mientras tanto nos pueden encontrar los links de abajo.</p>

					</div><!-- main-content -->
				</div><!-- display-table-cell -->
			</div><!-- display-table -->

			<ul class="footer-icons">
				<li>Estemos en contacto: </li>
				<li><a href="https://www.facebook.com/teatrobestial/"><i class="fa fa-facebook-official"></i></a></li>
				<li><a href="https://www.instagram.com/escueladeteatrobestial/?utm_source=ig_profile_share&igshid=s60w8l7f3z2l"><i class="fa fa-instagram"></i></a></li>
				<li><a href="mailto:teatrobestial@gmail.com"><i class="fa fa-envelope-o"></i></a></li>
			</ul>

		</section><!-- right-section -->

	</div><!-- main-area -->

	<!-- SCIPTS -->

	<script src="common-js/jquery-3.1.1.min.js"></script>

	<script src="common-js/jquery.countdown.min.js"></script>

	<script src="common-js/scripts.js"></script>

<router-outlet></router-outlet>
